#wrap {
  margin-top: 10px;
  width: 100vw;
  height: 900px;
  background-color: aqua;
  text-align: center;
  position: relative;
}

#board_table {
  background-color: cadetblue;
  width: 70vw;
  height: 800px;
  margin-top: 25px;
  display: inline-block;
  position: relative;
  top: 20px; 
}

#board_page {
  background-color: tomato;
  width: 70vw;
  height: 100px;
  position: absolute;
  bottom: 0;
}
