.row{
  justify-content: center;
}
.Product_Card{
  width: 250px;
  height: 380px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  color: black;
}

.prpduct-name,
.prpduct-description,
.prpduct-price{
  text-align: left;
  font-size: 1rem;
}

