.row{
  justify-content: center;
}

.product_main_card{
  width: 250px;
  height: 400px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.prpduct-name,
.prpduct-description,
.prpduct-price{
  text-align: left;
  font-size: 1rem;
}

.product_btn{
  margin-right: 5px;
}